          * {
            padding: 0;
            margin: 0;
          }
            *, p {
              font-family: 'HelveticaNeueCyr', sans-serif !important; 
              font-weight: 400; 
              font-size: 13px;
              color: #3d3d3d;
            }
            body {width: 100%; height: 100%;}
            #page {width: 100%; height: 100%;}

            .container {width: 1000px;}
            .c240 {width: 200px; height: 200px; margin-right: 10px; margin-bottom: 10px;}

            @media screen and (min-device-width: 1024px) {
                .container {width: 1000px;}
            }

            @media only screen and (max-device-width: 640px) {
                .container {width: 640px !important;}
                .c240 {width: 270px !important; height: 270px !important;}
                .card .progress .external {
                    width: 268px !important;
                }
            }


            .card {
                background: #eeeeee;
                padding: 20px;
                position: relative;
            }

            h1 {
                font-size: 20px;
                line-height: 2em;
            }

            h2 {
                font-size: 18px;
                line-height: 1.2em;
            }

            .fleft {
                float: left;
            }

            .clear {
                clear: both;
            }

            .card .big {
                font-size: 36px;
                margin-top: 40px;
            }

            .card .goal {
                font-size: 14px;
            }
            .card .progress {
                width: 100%;
                margin-top: 64px;
            }

            .card .progress .external {
                width: 198px;
                border: 1px solid #007808;
                height: 20px;
            }

            .card .progress .external .internal {
                width: 0;
                color: #fff;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
                height: 20px;
                display: block;
                background: #007808;
            }